.requisites-header{
  font-size: 16px;
  color: #193048;
  text-align: left;
  font-weight: 700;
}

.requisites-sub-header{
  font-size: 14px;
  color: #193048;
  text-align: left;
  font-weight: 400;
}

.requisites-top{
  font-size: 14px;
  color: #babbbb;
  text-align: left;
  font-weight: 500;

}