.img-app-slide img {
    width: 540px;
}
.main-text-app {
    width: 590px;
}
.main-app-text-p {
    font-size: 16px;
    line-height: 21.12px;
}
.app-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 32px 0 48px;
}
.app-container-items {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 36px 32px 48px 32px;
    transition: 0.3s;
}
.app-container-icons img {
    width: 31%;
}
.main-app {
    margin-top: 24px;
    margin-bottom: 36px!important;
    padding: 12px 40px 12px 64px;
}
.slideshow-container {
    display: flex;
    overflow: hidden;
}

.app-every {
    margin-top: 36px;
}
.app-every p {
    width: 640px;
}
// .max-item-bg {
//     background-color: #fff;
//     padding: 24px;
//     margin: 24px 0;
//     border-radius: 16px;
//     width: 400px;
// }
.max-item {
    padding: 24px;
    width: 400px;    
}
.app-max-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
    column-gap: 60px;
    align-items: center;
}
.app-section {
    margin-top: 48px;
    margin-bottom: 48px;
}
.contr-haps {
    border-radius: 24px;
    padding: 44px 32px 56px;
}
.contr-haps-items {
    display: grid;
    grid-template-columns: 1fr 160px;
    gap: 30px;
}

.contr-haps-text {
    width: 640px;
}
.contr-gr {
    border-radius: 16px;
    padding: 40px 64px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.contr-gr-text h3 {
    padding-bottom: 24px;
}
.pdT-24 {
    padding-top: 24px;
}
.ji-h1-cal-app {
    font-size: 40px;
    line-height: 48px;
}
.contr-gr .range-cont {
    padding-top: 20px;
}
.summa-input input {
    border: none;
    width: 100%;
}
.summa-input input:placeholder {
    color:#201F1F;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.summa-input input:focus-visible  {
    outline: none;
}
.summa-input {
    padding: 1px 0 7px;
    border-bottom: 1px solid rgba(190, 190, 182, 0.4);
}
.ji-h2-32 {
    font-size: 32px;
    line-height: 39.68px;
}
.padT-16-24 {
    padding-top: 16px;
}
.repl-24 {
    padding-top: 24px;
}
.grafic {
    display: grid;
    grid-template-columns: 327px 1fr;
    gap: 80px;
    padding-bottom: 48px;
}
.ul-filter {
    gap: 0;
}
.ul-filter li {
    margin-top: 8px;
}
.fil-gr.active {
    background-color: rgba(70, 72, 77, 1);
    cursor: pointer;    
    color: #fff;
}
.fil-gr {
    background-color: rgba(246, 246, 245, 1);
    cursor: pointer;
    border-radius: 24px;
    padding: 7px 16px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 18.48px;
    float: left;
}
.fil-gr:hover {
    background-color: rgba(70, 72, 77, 1);
    color: #fff;
}

.app-section-2 {
    margin-top: 12px;
}
.img-1-app-possib {
    background-image: url(../upload/img/app/img-1-1.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}
.img-2-app-possib {
    background-image: url(../upload/img/app/img-2-1.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}

.img-3-app-possib {
    background-image: url(../upload/img/app/img-3-1.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}

.img-4-app-possib {
    background-image: url(../upload/img/app/img-4.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}
.img-5-app-possib {
    background-image: url(../upload/img/app/img-1-2.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}
.img-6-app-possib {
    background-image: url(../upload/img/app/img-2.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}
.img-7-app-possib {
    background-image: url(../upload/img/app/img-3.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 584px;
    width: 100%;
}
.app-max-img {
    width: 100%;
}
.block-sl, .block-sl2 {
    padding: 24px;
    margin: 24px 0;
}
.block-sl.active, .block-sl2.active {
    background-color: #ffff; 
    border-radius: 24px;
}
.block-sl:hover, .block-sl:hover {
    background-color: #ffff; 
    border-radius: 24px;
}
.app-mr-bot {
    margin-bottom: 8px;
}
#container {
    min-width: 310px;
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
}
.highcharts-exporting-group, .highcharts-credits, .highcharts-axis {
    display: none;
}

@media (max-width: 1045px){
    .main-text-app .ji-h1-big {
        line-height: 64px;
        font-size: 54px;
    }
}

@media (max-width: 992px) {

    .max-item-bg {
        width: 100%;
    }
    .app-m1 {
        grid-column: 1;
        grid-row: 2;
    }
    .app-m12 {
        grid-column: 2;
        grid-row: 1;
    }
    .contr-haps-text {
        width: 100%;
    }
}

@media (max-width: 880px){ 

    .fl-mobPrdo {
        overflow-x: auto; /* Enable horizontal scrolling */
        margin-right: -24px; /* Компенсируем отступ справа */
    }
    
    .scroll-container {
        display: flex;
        width: 360px;
        gap: 8px;
    }
    .app-max-cont {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .block-sl, .block-sl2 {
        flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
        padding: 10px; /* Add padding if desired */        
        background-color: #fff;
        margin: 20px 0 0;
        border-radius: 16px;
        padding: 24px;
        cursor: pointer;
    }
    .app-section-2 {
        margin-top: 40px;
    }
    .app-mr-bot {
        margin-bottom: 10px;
    }
    .main-app {
        flex-wrap: wrap;
        text-align: center;
    }
    .main-text-app {
        width: 100%;
        padding-top: 48px;
    }
    .img-app-slide img {
        width: 100%;
    }
    .app-container {
        grid-template-columns: 1fr;
        padding: 20px 0 32px;
        gap: 12px;
    }
    .app-container-items {
        display: grid;
        grid-template-columns: 1fr 100px;
        -moz-column-gap: 30px;
    }
    .app-container-icons img {
        width: 100%;
    }
    .app-section {
        margin-top: 64px;
    }
    .appcol1 {
        grid-column: 2;
        grid-row: 1;
    }
    .appcol2 {
        grid-column: 1;
        grid-row: 1;
    }
    .grafic {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 24px;
        gap: 40px;
    }
    .app-every {
        margin-top: 12px;
    }
    .app-every .ji-h2-big, .app-max .ji-h2-big {
        font-size: 26px;
        line-height: 32.24px;
    }
}


@media (max-width: 768px){ 
    .mob-img-app-non {
        display: none;
    }
    .mob-img-app-bl  {
        display: block;
    }
    .max-item {
        width: 100%;
    } 
    .block-sl, .block-sl2 {
        width: 100%;
    }
    .contr-haps {
        padding: 32px 24px;
    }
    .contr-haps-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
 
    .img-1-app-possib {
        background-image: url(../upload/img/app/img1-1.webp);
        height: 580px;
    }
    .img-2-app-possib {
        background-image: url(../upload/img/app/img2-1.webp);
        height: 580px;
    }
    
    .img-3-app-possib {
        background-image: url(../upload/img/app/img3-1.webp);
        height: 580px;
    }
    
    .img-4-app-possib {
        background-image: url(../upload/img/app/img4.webp);
        height: 580px;
    }
    .img-5-app-possib {
        background-image: url(../upload/img/app/img3-1.webp);
        height: 580px;
    }
    .img-6-app-possib {
        background-image: url(../upload/img/app/img2.webp);
        height: 580px;
    }
    .img-7-app-possib {
        background-image: url(../upload/img/app/img3.webp);
        height: 580px;
    }
    .main-app {
        padding: 0px 12px;
    }
    .app-container-items {
        display: grid;
        grid-template-columns: 1fr 104px;
        -moz-column-gap: 40px;
        gap: 40px;
        justify-content: space-between;
    }
    .app-container-icons img {
        float: right;
        width: 54%;
    }
    .app-container-items {
        padding: 24px;
    }
    .app-every p {
        width: 100%;
    }
    .main-text-app .ji-h1-big {
        line-height: 39.68px;
        font-size: 32px;
    }
    .app-max-img {
        width: 100%;
        margin: auto;
    }
    .contr-gr {
        margin-bottom: 0;
        padding: 32px 16px;
    }
    .contr-gr-text h3 {
        padding-bottom: 32px;
    }
    .pdT-24 {
        padding-top: 32px;
    }
    .ji-h2-32 {
        font-size: 26px;
        line-height: 32.24px;
    }
    .padT-16-24 {
        padding-top: 24px;
    }
}

@media (max-width: 390px){ 
    .app-container-items {
        gap: 0px;
    }
    .img-app-slide img {
        width: 100%;
    }

}